[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "yfinance>=0.2.66",
    "matplotlib>=3.0.0",
    "numpy>=1.0.0",
    "ruff>=0.14.6",
    "black>=25.11.0",
]
